@import '../node_modules/bulma/sass/utilities/initial-variables.sass';

$primary: $red !default

$info: $blue !default
$success: $green !default
$warning: $yellow !default
$danger: $red !default

$light: $white-ter !default
$dark: $grey-darker !default